<ion-view view-title="{{setting_font_type_title}}">
    <ion-content>
        <ul class="list">
            <li class="item">
                <a ng-click="change_font('Times')">
                    <h2 style="font-family:'Times'">Times</h2>
                </a>
            </li>
            <li class="item">
                <a ng-click="change_font('Avenir')">
                    <h2 style="font-family:'Avenir'">Avenir</h2>
                </a>
            </li>
            <li class="item">
                <a ng-click="change_font('Baskerville')">
                    <h2 style="font-family:'Baskerville'">Baskerville</h2>
                </a>
            </li>
            <li class="item">
                <a ng-click="change_font('Georgia')">
                    <h2 style="font-family:'Georgia'">Georgia</h2>
                </a>
            </li>
<!--             <li class="item">
                <a ng-click="change_font('Helevtica Neue')">
                    <h2 style="font-family:'Helevtica Neue'">Helevtica Neue</h2>
                </a>
            </li> -->
            <li class="item">
                <a ng-click="change_font('Hoefler Text')">
                    <h2 style="font-family:'Hoefler Text'">Hoefler Text</h2>
                </a>
            </li>
<!--             <li class="item">
                <a ng-click="change_font('Verdana')">
                    <h2 style="font-family:'Verdana'">Verdana</h2>
                </a>
            </li>
            <li class="item">
                <a ng-click="change_font('Lucida Sans Unicode')">
                    <h2 style="font-family:'Lucida Sans Unicode'">Lucida Sans Unicode</h2>
                </a>
            </li> -->
        </ul>
    </ion-content>
</ion-view>
